::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eefbfb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007cc7;
}
